---

- name: 'Check mandatory variables are defined'
  assert:
    that:
      - application_name is defined
      - loki_url is defined
      - backup_day is defined

- name: Create the files directory
  file:
    path: "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/files"
    state: directory
    mode: "0700"

- name: Create the data directory
  file:
    path: "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/files/data"
    state: directory
    mode: "0700"

- name: Create log volume
  docker_volume:
    name: "log"

- name: Create app container
  docker_container:
    name: "{{ application_name }}"
    image: "minimalcompact/thumbor:latest"
    cleanup: true
    restart_policy: "always"
    memory: "100MB"
    networks:
      - name: "pomerium"
    log_driver: "loki"
    log_options:
      loki-url: "{{ loki_url }}"
      loki-batch-size: "400"
    exposed_ports:
      - "80"
    volumes:
      - "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/files/data:/data"
      - logs:/logs
    env:
      # THUMBOR_NUM_PROCESSES control how many processes run inside the container
      # Normally this is set in connection with the number of CPU cores
      # Note however that you can also use the docker-compose scale option to dynamically
      # scale your thumbor instances
      # THUMBOR_NUM_PROCESSES: "4"
      # this would allow CORS from any origin (you can restrict to specific origins if you want)
      CORS_ALLOW_ORIGIN: "*"
      # returns a webp image if browser Accept headers match
      AUTO_WEBP: "True"
      # nginx-proxy does caching automatically, so no need to store the result storage cache
      # (this greatly speeds up and saves on CPU)
      ALLOW_UNSAFE_URL: "True"
      UPLOAD_ENABLED: "True"
      STORAGE_EXPIRATION_SECONDS: "None"

- name: Setup file backups
  include_role:
    name: ansible-backups
    tasks_from: setup-file-backups

- name: Setup S3 backups
  include_role:
    name: ansible-backups
    tasks_from: setup-s3-backups

- name: Setup restic backups
  include_role:
    name: ansible-backups
    tasks_from: setup-restic-backups
  vars:
    file_path: "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/files"
